name: onboard_llm_widget
description: "A new Flutter package project."
version: 0.0.1
homepage: https://github.com/vivek10204/onboard_llm_widget

environment:
  sdk: ^3.10.0-179.0.dev
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter


#########
  file_picker: ^8.3.3
  get_storage: ^2.0.3

  # For links in How-To page
  url_launcher: ^6.2.5

  # For llm_widget TBD123
  flutter_gemma: ^0.12.1
  #flutter_gemma:
  #  path: flutter_gemma

  flutter_keyboard_visibility: ^6.0.0
  image_picker: ^1.0.4
  flutter_markdown: ^0.7.1

  path_provider: ^2.1.2
  shared_preferences: ^2.5.4
  http: ^1.6.0
  collection: ^1.19.1

#########


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/to/asset-from-package
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/to/font-from-package
